/.vs
/lesson2.sln
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
lesson2/x64/Debug/lesson2.exe.recipe
lesson2/x64/Debug/lesson2.ilk
lesson2/x64/Debug/lesson2.log
lesson2/x64/Debug/lesson2.obj
lesson2/x64/Debug/vc143.idb
lesson2/x64/Debug/vc143.pdb
lesson2/x64/Debug/lesson2.tlog/CL.command.1.tlog
lesson2/x64/Debug/lesson2.tlog/Cl.items.tlog
lesson2/x64/Debug/lesson2.tlog/CL.read.1.tlog
lesson2/x64/Debug/lesson2.tlog/CL.write.1.tlog
lesson2/x64/Debug/lesson2.tlog/lesson2.lastbuildstate
lesson2/x64/Debug/lesson2.tlog/link.command.1.tlog
lesson2/x64/Debug/lesson2.tlog/link.read.1.tlog
lesson2/x64/Debug/lesson2.tlog/link.secondary.1.tlog
lesson2/x64/Debug/lesson2.tlog/link.write.1.tlog
x64/Debug/lesson2.exe
x64/Debug/lesson2.pdb
